.hero {
	padding: 15.25rem 0 3.75rem;

	@media (max-width: 48rem) {
		padding: 9rem 0 2rem;
	}
}

.hero__main {
	display: flex;
	flex-direction: column;
	gap: 4rem;

	@media (max-width: 48rem) {
		align-items: center;
	}
}

.hero__heading {
	display: flex;
	flex-direction: column;
	gap: 3.12rem;

	@media (max-width: 48rem) {
		align-items: center;
	}
}

.hero__title {
	font-weight: 400;
	font-size: clamp(var(--h1-size-small), 7vw, var(--h1-size-big));
	line-height: 150%;
	max-width: 50rem;

	@media (max-width: 48rem) {
		text-align: center;
	}
}

.hero__description-text {
	font-size: clamp(
		var(--hero-description-size-small),
		7vw,
		var(--hero-description-size-big)
	);
	line-height: 120%;
}

.hero__advantages-text,
.hero__advantages-price,
.hero__description-text {
	font-family: var(--arial);
}

.hero__description-block {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;

	@media (max-width: 48rem) {
		align-items: center;
		gap: 1.5rem;
	}
}

.hero__advantages-list {
	display: flex;
	flex-direction: column;
	gap: 2.18rem;

	@media (max-width: 48rem) {
		align-items: center;
		gap: 1.5rem;
	}
}

.hero__advantages-item {
	display: flex;
	gap: 1.06rem;
	align-items: center;
}

.hero__advantages-text {
	font-size: var(--hero-description-size-small);
	line-height: 110%;
	display: inline-flex;
	align-items: center;

	@media (max-width: 31.25rem) {
		font-size: var(--advantages-size-small);
	}
}

.hero__advantages-price {
	font-size: var(--price-size);
	line-height: 150%;
	font-family: var(--prata);

	@media (max-width: 31.25rem) {
		font-size: var(--price-size-small);
	}
}
