@keyframes heroTitleSlideIn {
	0% {
		opacity: 0;
		transform: translateX(-2rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes heroBackgroundFadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes heroDescriptionSlideIn {
	0% {
		opacity: 0;
		transform: translateX(2rem);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes heroTextFadeIn {
	0% {
		opacity: 0;
		scale: 0.6;
	}

	100% {
		opacity: 1;
		scale: 1;
	}
}

@keyframes heroBtnFadeIn {
	0% {
		opacity: 0;
		scale: 0.7;
		transform: translateY(-1rem);
	}

	100% {
		opacity: 1;
		scale: 1;
		transform: translateY(0);
	}
}
