.main-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.62rem;
	transition: scale var(--transition-main);
}

.main-link__text {
	font-size: var(--link-size);
	line-height: 150%;
	color: var(--white);
	transition: color var(--transition-main);
}

.main-link:hover,
.main-link:focus-visible {
	outline: unset;
	scale: 1.1;
}
