.main-link {
	transition: scale var(--transition-main);

	&:hover,
	&:focus-visible {
		outline: unset;
		scale: 1.1;
	}
}

.main-link__text {
	font-size: var(--link-size);
	line-height: 150%;
	color: var(--white);
	transition: color var(--transition-main);
}
