.main-nav {
	display: flex;
	align-items: center;
	gap: 1.81rem;

	@media (max-width: 48rem) {
		display: none;
	}
}

.main-nav__link {
	font-style: var(--arial);
	font-size: var(--nav-link-size);
	line-height: 150%;
	letter-spacing: 0.04em;
	color: var(--white);
	font-style: italic;
	text-transform: uppercase;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		bottom: -0.31rem;
		left: 0;
		width: 100%;
		height: 0.12rem;
		background-color: var(--white);
		border-radius: 50%;
		clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
		transition: clip-path var(--transition-main);
	}

	&:hover,
	&:focus-visible {
		outline: unset;

		&::before {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}
	}
}

.main-nav--burger {
	position: absolute;
	top: 4rem;
	right: 0;
	background-color: var(--main-light);
	border-radius: 0.62rem;
	outline: 1px solid var(--main);
	flex-direction: column;
	padding: 0.9rem;
	opacity: 0;
	pointer-events: none;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: opacity var(--transition-main), clip-path var(--transition-main);

	@media (max-width: 48rem) {
		display: flex;
	}
}
