.socials {
	display: flex;
	gap: min(2vw, 2rem);
	align-items: center;
	max-width: 22.06rem;
}

.socials__item {
	&:hover,
	&:focus-visible {
		outline: unset;

		.socials__icon {
			color: var(--main-light);
			scale: 1.1;
		}
	}
}

.socials__icon {
	color: var(--white);
	transition: color var(--transition-main), scale var(--transition-main);
}
